name: ci-cd
on: [workflow_dispatch]
jobs:
  job_id:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - id: checkout
      uses: actions/checkout@v3

    - id: auth
      uses: google-github-actions/auth@v0
      with:
        workload_identity_provider: 'projects/1020302324889/locations/global/workloadIdentityPools/gh-pool-hack-day/providers/gh-provider-hack-day'
        service_account: 'github-actions-service-account@bright-calculus-267801.iam.gserviceaccount.com'

    - id: 'deploy'
      uses: 'google-github-actions/deploy-cloud-functions@v0'
      with:
        name: 'twitter_scrapper'
        runtime: 'python310'
        source_dir: '.'
        service_account_email: 'hack-day-cloud-function@bright-calculus-267801.iam.gserviceaccount.com'
        secret_environment_variables: 'Test_API_key=projects/1020302324889/secrets/Test_API_key/versions/1'
    # Example of using the output
    - id: 'output'
      run: 'curl "${{ steps.deploy.outputs.url }}"'